<h1>Tournament Directors</h1>
<table data-toggle="table"
       data-url="/admin/tds"
       data-export-url="/admin/tds/saveAs"
       data-cache="false"
       data-classes="table table-hover"
       data-sort-name="bboName"
       data-sort-order="asc"
       data-pagination="true"
       data-page-size="10"
       data-page-list="[10, 25, 50, 100]"
       data-side-pagination="server"
       data-search="true"
       data-show-refresh="true"
       data-show-export="true">
  <thead>
    <th data-field="bboName" data-sortable="true" data-switchable="false">BBO login</th>
    <th data-field="name" data-sortable="true">Name</th>
    <th data-field="emails" data-sortable="true">Email</th>
    <th data-field="telephones" data-sortable="true">Telephone</th>
    <th data-field="skill" data-sortable="true">Skill</th>
    <th data-field="h3am" data-sortable="true" data-formatter="bsTable.formatters.boolean">3AM</th>
    <th data-field="h7am" data-sortable="true" data-formatter="bsTable.formatters.boolean">7AM</th>
    <th data-field="h11am" data-sortable="true" data-formatter="bsTable.formatters.boolean">11AM</th>
    <th data-field="h3pm" data-sortable="true" data-formatter="bsTable.formatters.boolean">3PM</th>
    <th data-field="h7pm" data-sortable="true" data-formatter="bsTable.formatters.boolean">7PM</th>
    <th data-field="h11pm" data-sortable="true" data-formatter="bsTable.formatters.boolean">11PM</th>
  </thead>
</table>
