<div class="home-winners home-window">
  <h1>Our winners of the last month</h1>

  <div>
    <div id="home-winners-rock" class="col-md-5 col-sm-6"></div>
    <div id="home-winners-rbd" class="col-md-5 col-md-offset-1 col-sm-6"></div>
  </div>
</div>

<div class="clearfix"></div>

<div class="home-tournaments home-window">
  <h1>Our latest tournaments</h1>

  <div id="home-tournaments">
    <table class="table">
      <tbody>
        {{#each items}}
          <tr>
            <td>{{formatDate date}}</td>
            <td>{{name}}</td>
            <td><a href="{{resultsUrl}}" target="_blank">results</a></td>
            <td><a href="{{boardsUrl}}" target="_blank">boards</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
