<div class="home-winners home-window">
  <h1>Our winners</h1>

  <div>
    <div id="home-winners-rock" class="col-md-5 col-sm-6"></div>
    <div id="home-winners-rbd" class="col-md-5 col-md-offset-1 col-sm-6"></div>
  </div>

  <span class="participant img-circle"><i class="fa fa-user" data-original-title="" title=""></i></span>
</div>

<div class="home-tournaments home-window">
  <h1>Our latest tournaments</h1>

  <div id="home-tournaments">
    <table class="table">
      <tbody>
        {{#each items}}
          <tr><td><a href="{{resultsUrl}}" title="{{name}}">{{name}}</a></td></tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
