<h3>RBD Leader board</h3>

<div>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Awards</th>
      <th><span class="average">IMPs</span></th>
    </tr>
    </thead>
    <tbody>
    {{#each items}}
      <tr>
        <td>{{bboName}}</td>
        <td>{{awards}}</td>
        <td>{{formatFloat averageScore}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>