lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
bower_components
build
dist
.sublime-grunt.cache
.idea

update.json
update.log
update-tournaments.json
update-tournaments.log
update-blacklist.json
update-blacklist.log
promote.json
promote.log
