<div class="well">
  <h1>Rock Members</h1>
  <table data-toggle="table" data-url="/members">
    <thead>
      <th data-field="bboName">BBO login</th>
      <th data-field="nation">Country</th>
      <th data-field="level">Level</th>
      <th data-field="rock.totalScores.awards">Awards</th>
      <th data-field="rock.totalScores.averageMatchPoints">Matchpoints</th>
    </thead>
  </table>
</div>