<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content" id="main-popup">
    </div>
  </div>
</div>
<div id="main-navbar" class="container"></div>
<div id="main-content" class="container">
</div>
