<div class="panel-heading row">
  <strong>From</strong> {{formatDate from}}
  <strong>To</strong> {{formatDate to}}
</div>
<div class="panel-body row">
  <div class="col-md-2"><strong>Reason</strong></div><div class="col-md-10">{{reason}}</div>
</div>
