<h1>Registration successful</h1>

<p>Dear {{> displayBboName}}, your application has been processed. We've send you an email at the provided address.
Follow the instructions in this email to confirm your registration.</p>

<p>Thank you for becoming a member of BBO Fans!</p>
