<h1>Free registration to BBO Fans</h1>

<form class="form-horizontal" role="form">
  <div class="form-group col-md-8">
    <label for="member-bboName" class="control-label">BBO nickname</label>
    <input id="member-bboName" name="bboName" type="text" class="form-control" placeHolder="Enter BBO nickname" value="{{bboName}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-name" class="control-label">Name</label>
    <input id="member-name" name="name" type="text" class="form-control" placeHolder="Enter name" value="{{name}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-email" class="control-label">Email</label>
    <input id="member-email" name="email" type="email" class="form-control" placeHolder="Enter Email" value="{{email}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-telephone" class="control-label">Email</label>
    <input id="member-telephone" name="telephone" type="text" class="form-control" placeHolder="Enter phone number" value="{{telephone}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-5">
    <!-- Countries are loaded at runtime from /data/countries.json -->
    <label for="member-nation" class="control-label">Country</label>
    <select id="member-nation" name="nation" class="form-control" />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-3">
    <label for="member-level" class="control-label">Skill level</label>
    <select id="member-level" name="level" class="form-control">
      <option>Beginner</option>
      <option>Intermediate</option>
      <option>Advanced</option>
      <option>Expert</option>
      <option>Champion</option>
      <option>World Class</option>
    </select>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-4">
    <label for="member-isStarPlayer" class="control-label">
      <input type="checkbox" id="member-isStarPlayer" name="isStarPlayer" {{#if isStarPlayer}}checked{{/if}} />
      Star Player
    </label>
  </div>
  <div class="clearfix"></div>
  
  <div class="form-group col-md-8">
    <label for="member-recaptcha" class="contol-label">Are you human?</label>
    <div id="member-recaptcha"></div>
  </div>
  <div class="clearfix"></div>

  <div class="form-group col-md-12 text-right">
    <button class="form-reset btn">Reset</button>
    <button class="form-cancel btn">Cancel</button>
    <button class="form-submit btn btn-primary">Register</button>
  </div>
  <div class="clearfix"></div>
</form>
