<h1>Free registration to BBO Fans</h1>

<p>Registration is temporarily suspended.</p>
<!-- form class="form-horizontal" role="form">
  <div class="form-group col-md-8">
    <label for="register-bboName" class="control-label">BBO nickname</label>
    <input id="register-bboName" name="bboName" type="text" class="form-control" placeHolder="Enter BBO nickname" value="{{bboName}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="register-password" class="control-label">BBO Fans Password <strong>(this should NOT be the same as your BBO password!)</strong></label>
    <input id="register-password" name="password" type="password" class="form-control" placeHolder="Enter password" />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="register-repeatPassword" class="control-label">Re-enter BBO Fans password</label>
    <input id="register-repeatPassword" name="repeatPassword" type="password" class="form-control" placeHolder="Enter password again" />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="register-name" class="control-label">Name</label>
    <input id="register-name" name="name" type="text" class="form-control" placeHolder="Enter name" value="{{name}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="register-email" class="control-label">Email</label>
    <input id="register-email" name="email" type="email" class="form-control" placeHolder="Enter Email" value="{{email}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="register-telephone" class="control-label">Telephone</label>
    <input id="register-telephone" name="telephone" type="text" class="form-control" placeHolder="Enter phone number" value="{{telephone}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-5" -->
    <!-- Countries are loaded at runtime from /countries -->
    <!-- label for="register-nation" class="control-label">Country</label>
    <select id="register-nation" name="nation" class="form-control" />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-3">
    <label for="register-level" class="control-label">Skill level</label>
    <select id="register-level" name="level" class="form-control">
      <option>Beginner</option>
      <option>Intermediate</option>
      <option>Advanced</option>
      <option>Expert</option>
      <option>Champion</option>
      <option>World Class</option>
    </select>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-4">
    <label for="register-isStarPlayer" class="control-label">
      <input type="checkbox" id="register-isStarPlayer" name="isStarPlayer" {{#if isStarPlayer}}checked{{/if}} />
      Star Player
    </label>
  </div>
  <div class="clearfix"></div>
  
  <div class="form-group col-md-8">
    <div id="register-reCaptcha"></div>
  </div>
  <div class="clearfix"></div>

  <div class="form-group col-md-12 text-right">
    <button class="form-reset btn">Reset</button>
    <button class="form-cancel btn">Cancel</button>
    <button class="form-submit btn btn-primary">Register</button>
  </div>
  <div class="clearfix"></div>
</form -->
