<h1>Login</h1>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="admin-username" class="control-label col-md-2">User</label>
    <div class="col-md-8">
      <input id="admin-username" name="username" width="20" type="text" class="form-control" placeHolder="Enter user name" value="{{username}}"/>
    </div>
  </div>
  <div class="form-group">
    <label for="admin-password" class="control-label col-md-2">Password</label>
    <div class="col-md-8">
      <input id="admin-password" name="password" width="20" type="password" class="form-control" placeHolder="Enter password" value="{{password}}"/>
    </div>
  </div>
  <div class="form-group">
    <button id="form-login" class="btn col-md-offset-2 col-md-1">Login</button>
    <button id="form-cancel" class="btn col-md-offset-1 col-md-1">Cancel</button>
  </div>
</form>
