<h1>Edit member {{> displayBboName}}</h1>

<form role="form">
  <div class="form-group col-md-8">
    <label for="member-bboName" class="control-label">BBO nickname</label>
    <input id="member-bboName" name="bboName" width="20" type="text" class="form-control" placeHolder="Enter BBO nickname" value="{{bboName}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-name" class="control-label">Name</label>
    <input id="member-name" name="name" width="20" type="text" class="form-control" placeHolder="Enter name" value="{{name}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-email" class="control-label">Email</label>
    <input id="member-email" name="email" width="20" type="email" class="form-control" placeHolder="Enter Email" value="{{email}}"/>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-5">
    <!-- Countries are loaded at runtime from /data/countries.json -->
    <label for="member-nation" class="control-label">Country</label>
    <select id="member-nation" name="nation" class="form-control" />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-3">
    <label for="member-level" class="control-label">Skill level</label>
    <select id="member-level" name="level" class="form-control">
      <option>Beginner</option>
      <option>Intermediate</option>
      <option>Advanced</option>
      <option>Expert</option>
      <option>Champion</option>
      <option>World Class</option>
    </select>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-10">
    <label for="member-notes" class="control-label">Notes</label>
    <textarea id="member-notes" class="form-control" rows="5">{{notes}}</textarea>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-isStarPlayer" class="checkbox-inline">
    <input type="checkbox" id="member-isStarPlayer" name="isStarPlayer" {{#if isStarPlayer}}checked{{/if}} /> Star Player
    </label>
    <label for="member-isRbdPlayer" class="checkbox-inline">
    <input type="checkbox" id="member-isRbdPlayer" name="isRbdPlayer" {{#if isRbdPlayer}}checked{{/if}} /> RBD Player
    </label>
    <label for="member-isEnabled" class="checkbox-inline">
    <input type="checkbox" id="member-isEnabled" name="isEnabled" {{#if isEnabled}}checked{{/if}} /> Enabled
    </label>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="member-isBlackListed" class="checkbox-inline">
    <input type="checkbox" id="member-isBlackListed" name="isBlackListed" {{#if isBlackListed}}checked{{/if}} disabled /> Blacklisted
    </label>
    <label for="member-isBanned" class="checkbox-inline">
    <input type="checkbox" id="member-isBanned" name="isBanned" {{#if isBanned}}checked{{/if}} disabled /> Banned
    </label>
  </div>
  <div class="clearfix"></div>

  <hr />
  <div class="form-group col-md-12 text-right">
    <button class="btn form-cancel" data-dismiss="modal">Cancel</button>
    {{#unless validatedAt}}
    <button class="btn form-validate">Validate</button>
    {{/unless}}
    <button class="btn btn-defaul btn-primary form-submit">Save</button>
  </div>
  <div class="clearfix"></div>
</form>
