<div class="col-md-9 white-background-opacity-70" id="homepage-content">
</div>
<div class="col-md-3">
  <div id="homepage-td-box" class="white-background-opacity-70 text-center"></div>
  <div id="homepage-winners-box" class="white-background-opacity-70 text-center"></div>
</div>
