<div class="container" id="homepage-navbar"></div>
<div class="container">
  <div class="row">
    <div class="col-md-10 white-background-opacity-70" id="homepage-content">
    </div>
    <div class="col-md-2">
      <div class="sidebar affix">
        <div id="homepage-td-box" class="white-background-opacity-70"></div>
        <div id="homepage-winners-box" class="white-background-opacity-70"></div>
      </div>
    </div>
  </div>
</div>
