<div class="col-md-9 white-background-opacity-70" id="homepage-content">
  <h1>BBOFans is closed!</h1>
  <h2>After many years the owners of BBOFans have decided to close the club</h2>
  <h2>So long and thank you for the Slams!</h2>
</div>
<div class="col-md-3">
  <div id="homepage-td-box" class="white-background-opacity-70 text-center"></div>
  <div id="homepage-winners-box" class="white-background-opacity-70 text-center"></div>
</div>
