<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>BBOFans</title>
    <link rel="stylesheet" type="text/css" href="css/BBOFans.css">
  </head>
  <body>
    <div id="content">{{{body}}}</div>
    <script type="text/javascript" src="js/BBOFans.js"></script>
  </body>
</html>
