<h2>Create blacklist entry for {{> displayBboName}}</h2>

<form role="form">

{{#authentication}}
  <input type="hidden" id="blacklist-td" name="td" value="{{@user.username}}" />
{{/authentication}}

  <div class="form-group col-md-3">
    <label for="blacklist-from-input" class="control-label">From</label>
    <div class="input-group date" id="blacklist-from">
      <input type="datepicker" id="blacklist-from-input" name="from" class="form-control" data-date-format="DD/MM/YYYY" />
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="form-group col-md-3">
    <label for="blacklist-for" class="control-label">For</label>
    <select id="blacklist-for" name="for" class="form-control">
      <option value="1d">1 day</option>
      <option value="3d">3 days</option>
      <option value="1w" selected>1 week</option>
      <option value="2w">2 weeks</option>
      <option value="1M">1 month</option>
      <option value="3M">3 months</option>
      <option value="6M">6 months</option>
      <option value="F">Forever</option>
    </select>
  </div>
  <div class="clearfix"></div>

  <div class="form-group col-md-8">
    <label for="blacklist-reason" class="control-label">Reason</label>
    <textarea id="blacklist-reason" name="reason" class="form-control" placeHolder="Give a reason for blacklisting the member">{{reason}}</textarea>
  </div>
  <div class="clearfix"></div>

  <div class="form-group col-md-12 text-right">
    <button class="btn form-cancel">Cancel</button>
    <button class="btn btn-defaul btn-primary form-submit">Create</button>
  </div>
  <div class="clearfix"></div>

</form>
