<h1>{{username}}</h1>
<div class="panel-group" id="admin-menu-accordion" role="tablist" aria-multiselectable="false">
  <div class="panel panel-default">
{{#if isTd}}
    <div class="panel-heading" role="tab" id="headingMembers">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#admin-menu-accordion" href="#collapseMembers" aria-expanded="true" aria-controls="collapseMembers">
          Members
        </a>
      </h4>
    </div>
    <div id="collapseMembers" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingMembers">
      <div class="list-group" style="margin-bottom: 0;">
  {{#if isMemberManager}}
        <a class="list-group-item" href="/admin/members">Manage</a>
  {{/if}}
        <a class="list-group-item" href="/admin/blacklist">Blacklist</a>
      </div>
    </div>
  </div>
{{/if}}
{{#if isTdManager}}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTds">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#admin-menu-accordion" href="#collapseTds" aria-expanded="false" aria-controls="collapseTds">
          TD's
        </a>
      </h4>
    </div>
    <div id="collapseTds" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTds">
      <div class="list-group" style="margin-bottom: 0;">
        <a class="list-group-item" href="/admin/tds">Manage</a>
      </div>
    </div>
  </div>
{{/if}}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingUser">
        <h4 class="panel-title">
          <a {{#unless isTd}}class="collapsed"{{/unless}} data-toggle="collapse" data-parent="#admin-menu-accordion" href="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
            Account Info
          </a>
        </h4>
      </div>
      <div id="collapseUser" class="panel-collapse collapse {{#unless isTd}}in{{/unless}}" role="tabpanel" aria-labelledby="headingUser">
        <div class="list-group" style="margin-bottom: 0;">
          <a class="list-group-item" href="/admin/account/:id">View</a>
          <a class="list-group-item" href="/admin/account/password/:id">Change Password</a>
        </div>
      </div>
    </div>
</div>
