<h1>Modify password</h1>

<form class="form-horizontal" role="form">
  <div class="form-group col-md-8">
    <label for="password-currentPassword" class="control-label">Current password</label>
    <input id="password-currentPassword" name="currentPassword" type="password" class="form-control" placeHolder="Enter current password" />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="password-newPassword" class="control-label">New password</label>
    <input id="password-newPassword" name="newPassword" type="password" class="form-control" placeHolder="Enter new password" />
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-md-8">
    <label for="password-repeatPassword" class="control-label">Re-enter new password</label>
    <input id="password-repeatPassword" name="repeatPassword" type="password" class="form-control" placeHolder="Enter new password again" />
  </div>
  <div class="clearfix"></div>

  <hr />

  <div class="form-group col-md-12 text-right">
    <button class="form-cancel btn">Cancel</button>
    <button class="form-submit btn btn-primary">Change password</button>
  </div>
  <div class="clearfix"></div>
</form>
