// Import boostrap variables including default color palette and fonts
@import "../../../build/vendor/bootstrap/less/variables.less";

body {
  padding-top: 70px;
  background-image: url(/img/alice.png);
  background-repeat: no-repeat;
  background-position: right 10px;
  background-attachment: fixed;
}

.white-background-opacity-70 {
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar-brand h1 {
  position: relative;
  top: -30px;
}

#homepage-td-box {
  width: 160px;
}

td.remember-td-img {
  width: 50%;
  text-align: center;
}

td.remember-td-text {
  padding-left: 5%;  
  padding-right: 5%;  
}

#td-carousel {
  width: 120px;
}

.carousel-caption {
  top: 110px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 120px;
  margin: 0;
  padding: 0;
  color: #777;
  background-color: rgba(255, 255, 255, 0.7);
}

.carousel-caption h5 {
  margin-bottom: 0;
  margin-top: 3px;
}

#homepage-td-box .well h3 {
  margin-top: 0;
}

#award-points {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.award-points-header {
  text-align: center;
}

.modal-dialog .modal-content .well {
  margin-bottom: 0;
}

.average {
  text-decoration: overline;
}

.home-window {
  min-width: 100%;
  min-height: 100%;
}

.participant{
  background: @gray-light;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.participant i {
  font-size: 50px;
}

.form-control {
  background-color: rgba(100, 100, 100, 0.05);
}