<h1>Edit blacklist for <strong>{{bboName}}</strong></h1>

<form role="form">
  <div class="form-group row">
    <label for="blacklist-bboName" class="control-label col-md-2">BBO nickname</label>
    <div class="col-md-4">
      <input id="blacklist-bboName" name="bboName" width="20" type="text" class="form-control" placeHolder="Enter BBO nickname" value="{{bboName}}"/>
    </div>
  </div>

  <div class="reason-list"></div>

  <button id="form-cancel" class="btn col-md-offset-1 col-md-2" data-dismiss="modal">Cancel</button>
  <button id="form-save" class="btn btn-defaul btn-primary col-md-offset-1 col-md-2">Save</button>

  &nbsp;<br/>
</form>
