<h1>BBO Fans awards point system</h1>

<h2>Award points and ranking</h2>

<p>BBO Fans calculates separately for ROCK and RBD Award Points and Ranking (Match Points or IMPs)</p>

<p>You can see your personal score by clicking on <a href="#rock">Rock Around the Clock</a> or on
  <a href="#rbd">Rock's Best Dancers</a> and then searching for your BBO Nick-name.</p>

<h3>Rock Tournaments</h3>

<p>In <strong>Rock Around the Clock</strong> tournaments the award points are allocated according to the following table:</p>
<table id="award-points" class="table">
  <thead>
    <tr><th>&nbsp;</th><th colspan="11" class="award-points-header">Number of players in tourney</th></tr>
    <tr>
      <th>POS.</th>
      <th>&lt;=40&nbsp;</th>
      <th>41<br/>60</th>
      <th>61<br/>80</th>
      <th>81<br/>100</th>
      <th>101<br/>120</th>
      <th>121<br/>160</th>
      <th>161<br/>200</th>
      <th>201<br/>240</th>
      <th>241<br/>280</th>
      <th>281<br/>300</th>
      <th>&gt;=300</th>
    </tr>
  </thead>
  <tbody>
    <tr><th>1</th><td>30</td><td>31</td><td>32</td><td>33</td><td>34</td><td>35</td><td>36</td><td>37</td><td>38</td><td>39</td><td>40</td></tr>
    <tr><th>2</th><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td></tr>
    <tr><th>3</th><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td></tr>
    <tr><th>4-5</th><td>6</td><td>6</td><td>7</td><td>7</td><td>8</td><td>9</td><td>9</td><td>9</td><td>10</td><td>10</td><td>10</td></tr>
    <tr><th>6-7</th><td>5</td><td>5</td><td>6</td><td>6</td><td>7</td><td>8</td><td>8</td><td>8</td><td>9</td><td>9</td><td>9</td></tr>
    <tr><th>8-10 </th><td>4</td><td>4</td><td>5</td><td>5</td><td>6</td><td>7</td><td>7</td><td>7</td><td>8</td><td>8</td><td>8</td></tr>
    <tr><th>11-15</th><td>0</td><td>3</td><td>4</td><td>4</td><td>5</td><td>6</td><td>6</td><td>6</td><td>7</td><td>7</td><td>7</td></tr>
    <tr><th>16-20</th><td>0</td><td>0</td><td>3</td><td>3</td><td>4</td><td>5</td><td>5</td><td>5</td><td>6</td><td>6</td><td>6</td></tr>
    <tr><th>21-30</th><td>0</td><td>0</td><td>0</td><td>2</td><td>3</td><td>4</td><td>4</td><td>4</td><td>4</td><td>5</td><td>5</td></tr>
    <tr><th>31-40</th><td>0</td><td>0</td><td>0</td><td>0</td><td>2</td><td>3</td><td>3</td><td>3</td><td>3</td><td>4</td><td>4</td></tr>
    <tr><th>41-50</th><td>&nbsp;</td><td>0</td><td>0</td><td>0</td><td>0</td><td>2</td><td>2</td><td>2</td><td>2</td><td>3</td><td>3</td></tr>
    <tr><th>51-60</th><td>&nbsp;</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>1</td><td>1</td><td>2</td><td>2</td></tr>
  </tbody>
</table>


<h3>RBD Tournaments</h3>

<p>In <strong>Rock's Best Dancers</strong> tournaments the award points are allocated according to the following table:</p>

<table id="award-points" class="table">
  <thead>
    <tr><th>&nbsp;</th><th colspan="11" class="award-points-header">Number of players in tourney</th></tr>
    <tr>
      <th>POS.</th>
      <th>&lt;=10&nbsp;</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>&gt;=20</th>
    </tr>
  </thead>
  <tbody>
    <tr><th>1</th><td>30</td><td>31</td><td>32</td><td>33</td><td>34</td><td>35</td><td>36</td><td>37</td><td>38</td><td>39</td><td>40</td></tr>
    <tr><th>2</th><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td></tr>
    <tr><th>3</th><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td></tr>
    <tr><th>4</th><td>3</td><td>4</td><td>4</td><td>5</td><td>5</td><td>6</td><td>6</td><td>7</td><td>7</td><td>8</td><td>8</td></tr>
    <tr><th>5</th><td>2</td><td>3</td><td>3</td><td>4</td><td>4</td><td>5</td><td>5</td><td>6</td><td>6</td><td>7</td><td>7</td></tr>
    <tr><th>6</th><td>0</td><td>0</td><td>2</td><td>3</td><td>3</td><td>4</td><td>4</td><td>5</td><td>5</td><td>6</td><td>6</td></tr>
    <tr><th>7</th><td>0</td><td>0</td><td>0</td><td>0</td><td>2</td><td>3</td><td>3</td><td>4</td><td>4</td><td>5</td><td>5</td></tr>
    <tr><th>8</th><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>2</td><td>3</td><td>3</td><td>4</td><td>4</td></tr>
    <tr><th>9</th><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>2</td><td>3</td><td>3</td></tr>
    <tr><th>10</th><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>2</td></tr>
  </tbody>
</table>
