<h1>Links to <abbr title="Bridge Base Online" class="initialism">B.B.O.</abbr></h1>
<ul>
  <li><a href="http://www.bridgebase.com">BBO Home Page</a></li>
  <li><a href="http://www.bridgebase.com/vugraph/schedule.php">BBO Vugraph Schedule</a></li>
  <li><a href="http://www.bridgebase.com/forums">BBO Forum</a></li>
  <li><a href="http://www.bridgebase.com/myhands/index.php">BBO Hand Records</a></li>
  <li><a href="http://www.bridgebase.com/points/index.php">BBO Points</a></li>
  <li><a href="http://webutil.bridgebase.com/v2/tarchive.php?m=h&amp;h=bbo%20fans">BBO Fans tournaments of the last 7 days</a></li>
</a></li>
</ul>

