<h1>Links to <abbr title="Bridge Base Online" class="initialism">B.B.O.</abbr></h1>
<ul>
  <li><a href="http://www.bridgebase.com" target="_blank">BBO Home Page</a></li>
  <li><a href="http://www.bridgebase.com/vugraph/schedule.php" target="_blank">BBO Vugraph Schedule</a></li>
  <li><a href="http://www.bridgebase.com/forums" target="_blank">BBO Forum</a></li>
  <li><a href="http://www.bridgebase.com/myhands/index.php" target="_blank">BBO Hand Records</a></li>
  <li><a href="http://www.bridgebase.com/points/index.php" target="_blank">BBO Points</a></li>
</a></li>
</ul>

