<h2>We remember our TD's</h2>

<table>
  <tbody>
  <tr>
    <td class="remember-td-img"><img src="img/Huffelen.jpg" alt="Henry van Uffelen" class="img-rounded" /></td>
    <td class="remember-td-img"><img src="img/Liz32.jpg" alt="Liz" class="img-rounded" /></td>
  </tr>
  <tr>
    <td class="remember-td-text">My dear husband, Henri van Uffelen, passed away on 2012, October the 4th. He was a cornerstone of BBOFans, keeping track of all schedules and managing all TD's in a kind and pollite manner.</td>
    <td class="remember-td-text">Liz passed away on 2011, July the 5th. She dedicated much of her time to BBOFans, and will be remembered as a very kind and correct person.</td>
  </tr>
  </tbody>
</table>


<p></p>

<h2>BBO Fans Motto</h2>

<p>BBO Fans is a club open for all nationalities, that means we also have TD's from the most various countries, each with their own cultural backgrounds and habits. A different culture does not make you better or worse,only different. Remember, we are all children of the same God and he made every person a single one with his own private character, habits, fingerprints a.s.o. Lets just make fun and accept other people just as they are. We accept all people unless they do not accept our motto.</p>

<h2>Useful information about BBO Fans</h2>

<p>BBO Fans organizes 2 types of tourneys</p>

<ul>
  <li>ROCK around the CLOCK (ROCK)</li>
  <li>ROCK's best DANCERS (RBD)</li>
</ul>

<p>ROCK tourneys are free for everbody and we run a tourney every 4 hours (click on "ROCK around the clock enter site" button and then on "about us" for more information) while RBD we run 2 times a day</p>

<h2>Registration as new member</h2>

<p>When you register (by clicking on the green "Free Registration" button) you are only allowed to play in ROCK tourneys NOT in RBD. To become a member of RBD you must have played in ROCK at least 3 months, at least 12 tourneys and scored at least 50% or a medium of 2 awards points.</p>

<p>Every 3 months calculation is redone and, according above rules, members will be inserted in RBD and an equal number of members with bad results will be removed from RBD. Of course the removed members can still play in ROCK.</p>

<h2>BBO Fans newsletter</h2>

<p>To see our newsletters please click on "ROCK around the CLOCK enter site" button and then on "news".</p>

<h2>Award points and ranking</h2>

<p>BBO Fans calculates separately for ROCK and RBD Award Points and Ranking (Match Points)
Award Points are calculated over pairs and individual tourneys together while ranking (Match Points) is calculated only for pairs tourneys. The Award Points and Ranking System are explained in the "ROCK around the CLOCK" site clicking on "Award System" or "Matchpoint System".</p>

<p>Your personal score you can see in the same webpage by clicking on "Award Points" or "Match Points" and then specifying your BBO Nick-name. Note: when you never played in pairs (matchpoint) tourneys, you will not find your name there, while you will always be present in the Award Points but be aware that you can have 0 Award Points when your results are low.</p>
