<h1>Matchpoint system</h1>
<h2>Finally we have our ranking system operational!</h2>

<p>The ranking is started at 1th of June 2005 and updated till the 1° of February 2006.
The top 100 displays only persons that have played more then 50 tournaments over the total period.</p>

<p>The Ranking system is only calculated over matchpoints (%) tournaments and what you see is the average % you have scored and the number of tournaments you have played.</p>

<p>Every member will find his nick-name in the Awards but in the Ranking you will only appear when you have played in MP tourneys.</p>
