<h1>BBO Fans rules</h1>

<h2>Introduction</h2>

<h3>Hello - Welcome To BBO Fans</h3>

<p class="well bg-warning"><strong>Important</strong>: BBO provides this as a platform only for tournaments.
In other words they have nothing to do with how a Tournament is Run or any verdict that any of our Directors make.
In simple words there is no appeal, except -maybe- to the head director of the given tournament.
And even then it will be considered very carefully.
Also remember that for an adjustment to be made, there needs to be proof of Damage.
We are more concerned with Mean Spirit and False Intent. This does not include playing your hand in such a way that the
  Opps think you do or do not have a certain card! (False carding is common).
However, it does include an obvious lie about a card played or bid. The safest thing to say is "No Prior Agreement"
  because for Psychic Bids and for misleading card play (false cards) it is also true!
The rules presented here are to protect the players, the directors, and BBO.
They are long if you do not wish to read them all it is up to you :)</p>

<h2>The tournaments</h2>
<p>We do not really know where this set of Tournaments is headed yet. With the web site now operational, it should
  become fairly exciting and interesting, hopefully with tournament results posted and rankings. Perhaps a monthly or
  quarterly contest for the first 40 or 60 or 100 ranked or everyone. Perhaps prizes or certificates. Who knows - We are
  not sure yet.</p>

<p>Please make any suggestions you think we can use! The email is info@bbofans.com
  We would love to hear from you, either through BBO or the E-Mail Address.
  If we are not signed on you can leave mail here at BBO by simply typing the User Name of any of directors in the send
  mail, right after the name on the Chat Window.</p>

<p>Our thanks goes to BBO which means it's creator Fred, his beloved wife, Uday, Gerardo, Gwen and the other fellows
  who make this work with their explanations, judgement calls and endless hours just being here to keep the site safe.</p>

<h2>All systems allowed</h2>
<p>All Systems and Carding are allowed (but please see below).
  Psychic bids are allowed. There is no Limit on Psychic Bids however repeated use in the tournament will create an
  understanding with your partner, that circumvents the undisciplined spirit of psychic bids and will be penalized. In
  other words Psychic should not become common place and if asked about a Psychic Bid you should respond "No Prior Agreement".</p>

<h2>Alert all non-natural bids</h2>
<p>Please remember to alert ANY Bid that is Not a Natural Bid (an actual bid to play in what you are bidding) - Even So
  Called Standard SAYC or any other System. It is always better to alert too much than not enough. Please announce
  system and carding at the beginning of each round and a filled out posted convention card is requested by all regular
  partnerships. Alerts and explanations are necessary. This goes DOUBLE for any Carding you use. The only exception is
  for IND Tournaments where if the Bid/Carding is not on both players cards the words "No Prior Agreement" may be used.
  But those words MUST accompany any non-natural Bid or carding! It would be better to specify which Player Profile is
  being used, or which parts of the Profiles are being used. (That is the card you see when holding the mouse over the
  player's name.)</p>

<h2>English only at the table</h2>
<p>Please do NOT CHAT during BIDDING & PLAY - if you really must do so, use ENGLISH unless All Four Players at the Table
  understand that language. ASK FIRST! Everyone should be aware of language barriers and take special care when asking
  or explaining alerts or card play. Talking is Fine at the end of a round! Also be Double Aware many of the Tournament
  Directors only speak ENGLISH!</p>

<h2>Banter in the tournament room [chat]</h2>
<p>Although Banter is encouraged in our Tournaments, there is a limit. That limit is where you start to hurt other's
  feelings. If you start a joke and someone asks you to stop, You Must STOP! Also any degrading remarks about Race,
  Religion, Country, or even Blondes is discouraged (A LOT!). In no circumstances are the Hands to be discussed (unless
  we announce something about that hand which means all have completed it). The qualities of the Dealer may be mentioned
  in an abstract sense. (LOL normally they are just random hands by BBO) In short, the majority are here to have fun,
  the rest are here because of a strange sense of torture or something :).</p>

<h2>Substitutions</h2>
<p>Subs are volunteers from wherever they are playing on BBO at the time they are needed. Normal BBO Rules heavily
  suggest that Subs are allowed to complete the tournament. However with permission of the Sub, a player may regain
  their seat. Only once though, small tolerance here. More than once starts to disrupt the tournament, and really that
  person should check with their Internet provider about why their connection is that bad. Before we put your original
  partner back in you should also discuss this with the Sub, who is using their time. Remember you can also pull in a
  Sub yourself to replace your partner if that person has been disconnected. Subs take time, keep in mind that an
  Average Minus is assigned after the round expires. Even if we have an event not timed we will eventually assign a
  value and move on to the next round.</p>

<h2>BBO rules and regulations</h2>
<p>If a board starts when time is 4 minutes or less, BBO automatically assigns Average to both sides. Directors have no
  control on this at all. Courtesy and Common Decency is REQUIRED at all times. Offenders are reported to BBO and you
  will be added to our Black List. There is a Zero Tolerance for lack of respect for other players. We do ask people to
  remember that a person who bids a slam that can make and blows it may say some things that are not his/her common
  speech pattern. Part of this respect for players includes a tolerance of others. But that is only part, repeated
  violations should be reported to us in all cases. This also includes abuses of your partner.</p>

<p>To report bad chat, copy bad chat (including ID) via mouse select &amp; copy with Ctrl/⌘-C. Paste with Ctrl/⌘-V to
  Director and email to abuse@bridgebase.com</p>

<p>The BBO rules can be found here
  <a href="http://online.bridgebase.com/v2/doc_rules.html" target="_blank">http://online.bridgebase.com/v2/doc_rules.html</a></p>

<h3>Zero tolerance defined</h3>
<p>Our definition goes like this:</p>

<ol>
<li>Respect for your Opps. Although some joking is permitted you must first (before the start of round) find out if they
  speak your language. Then you must find out what is on their Convention Card and/or Profile. If they object even
  slightly to your joking you must stop! You are not allowed to tell any Opp their rating should be lowered. EVER!</li>

<li>Respect for your Partner. Your partner should NEVER complain that you are saying something that hurts his/her
  feelings. Never! If you misjudged what you said as a joke then you have done worse then whatever error your partner
  committed. Your Opps could also complain about the way you treat your partner (or each other). The normal judgement
  there would be for the Opps to just tolerate one round of your language (after all you can supposedly only talk at the
  end of a round anyway). But you both might want to consider a more proper way of showing affection!</li>

<li>Respect for your Director. Remember that EVERY TABLE in the Tournament might be calling the Director. It takes time
  to answer each call. Sometimes a Director may ask for you to Call Again (we do forget in the rush of the terrible
  judgements we must make!). But for the most part PLEASE CALL ONLY ONCE. If a number of minutes go by with no response
  then you may Call Director again. Most events are timed with sufficient number of directors but on occasion even they
  get disconnected. We want everyone to have equitable hearing on any complaint. We have no qualms about a second call
  AFTER we have been at your table and misunderstood what you had said. Sometimes we must move so fast that we simply
  don't grasp it when you state the correction. Please forgive us in advance but state the problem when you call in
  different words so we can be sure to understand what you meant.</li>

<li>Respect for Bridge. Keep your arguments to the Table so they do not disrupt the Tournament - or worse give others
  still playing an unfair advantage over you. You would hurt not only yourself, but others too.</li>

<li>Respect for BBO. While I encourage "Banter" or fun comments not related to the Cards these should not go to the
  Lobby. For one thing the Lobby (Every One) does not have the background you made the comment in, and for another they
  really do not care!</li>

<li>General Common Sense. Do not say or do anything you would not do in your home (or home bridge club). If you would do
  it and there are complaints just stop it. Stopping is usually better then clarifying what you said. The problem may
  simply be that the person DID NOT UNDERSTAND what you meant. Sometimes it is better to be quiet than to try to explain.</li>
</ol>

<h2>Have fun and enjoy</h2>

<p>Finally we would like to thank you for reading this and your help in making it work.
We hope we all have fun!
That is what this site is about. To have fun and learn more about the horrible 13 cards the dealers pass out every few minutes.</p>


<p class="text-center"><strong>Board and tourney results can be found at :</strong></p>
<p class="text-center"><a href="http://webutil.bridgebase.com/v2/tarchive.php?m=h&amp;h=bbo%20fans" target="_blank">http://webutil.bridgebase.com/v2/tarchive.php?m=h&amp;h=bbo fans</a></p>
<p class="text-center"><a href="http://www.bridgebase.com/myhands" target="_blank">http://www.bridgebase.com/myhands</a></p>
<p class="text-center"><strong>a minute or so after the game.</strong></p>
